


<!--Display day information e.g Wednesday March 12,2021-->
<div id="dayIntro">
    <p id="dayName"></p>
</div>
<hr>
<div class="container">
    <!-- Display time -->
    <div class="dispClock">
        <div id="time"></div>
    </div>
</div>
